/* Vanities Page */
.vanities {
    position: relative;
    height: auto;
    overflow-x: hidden;
    background: white;
    margin-top: 100px;
  }
  
  /* Carousel Section */
  .carousel-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .carousel-image {
    min-height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-text {
    text-align: center;
    position: absolute;
    bottom: 30px;
    width: 100%;
  }
  
  .carousel-text p {
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    color: white;
    margin: 0 400px;
    text-align: center;
    margin-bottom: 5px;
  }
  
  
  /* Vanity Types Section */
  .vanity-types {
    padding: 40px 20px;
    text-align: center;
  }
  
  .vanity-types h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .vanity-images {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .vanity-type {
    text-align: center;
  }
  
  .vanity-type img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .vanity-type h3 {
    font-size: 1.5rem;
    color: #214f4b;
    margin-top: 10px;
  }
  
  .vanity-type p {
    font-size: 1rem;
    color: #8491a3;
  }
  
  /* Last Section */
  .last-section {
    background: none;
    padding: 20px;
  }
  
  .last-text {
    text-align: center;
    margin: 50px 0 30px;
  }
  
  .last-text h2 {
    font-size: 3rem;
    color: #214f4b;
    margin-bottom: 10px;
  }
  
  .last-text p {
    font-size: 1rem;
    color: #8491a3;
    line-height: 1.6;
  }

  /* General Layout */
  .layout-container {
    padding: 20px;
    background: linear-gradient(90deg, rgba(174, 255, 205, 0.8), rgba(159, 255, 195, 0.8), rgba(144, 250, 175, 0.8));
  }
  
  .grid-heading {
    text-align: center;
    margin: 50px 0 30px;
  }
  
  .grid-heading h2 {
    font-size: 2rem;
    color: #214f4b;
    margin-bottom: 10px;
  }
  
  .grid-heading p {
    font-size: 1rem;
    color: #8491a3;
    line-height: 1.6;
  }

  @media (max-width: 1024px) 
  {
    .carousel-text p {
      font-size: 1.8rem; /* Smaller font for medium-sized screens */
      margin-right: 0;
      margin-left: 0;
    }
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    .carousel-text p {
      font-size: 1.4rem; /* Smaller font for tablets */
      margin: 0;
    }

  }
  