.step-container {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  
  .options button,
  .card-container .card {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    width: 150px;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 8px;
  }
  
  .card h3 {
    font-size: 16px;
    color: #333;
  }
  
  .accessory-list label {
    display: block;
    margin: 5px 0;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2de1fc;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  