.step-container {
    margin: 20px auto;
    width: 800px;
    height: 700px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow-y: auto;
  }
  
  
  .wardrobe-options button,
  .wardrobe-card-container .wardrobe-card {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    width: 150px;
  }
  
  .wardrobe-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .wardrobe-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 8px;
  }
  
  .wardrobe-card h3 {
    font-size: 16px;
    color: #333;
  }
  
  .wardrobe-accessory-list label {
    display: block;
    margin: 5px 0;
  }
  
  .wardrobe-next-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2de1fc;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .wardrobe-next-button:disabled {
    background-color: #ccc;
  }
